<h1>Hello</h1>
<p class="fw-bold">
  I assume that two categories can share same tag(metadata), manager and admin
  role can edit delete update product and the admin only who can manage the
  category.
</p>
<hr />
<ol>
  <li>
    jwt authentication with hashing password and sualt for better security
  </li>
  <li>
    repository pattern for better separation bettween domain models and resource
  </li>
  <li>using auto mapper</li>
  <li>entity framework database first</li>
  <li>interceptor and authGard for role-based auth</li>
  <li>dependency injection</li>
</ol>
<table class="table">
  <thead>
    <th>username</th>
    <th>password</th>
    <th>role</th>
  </thead>
  <tbody>
    <tr>
      <td>customer</td>
      <td>123</td>
      <td>customer</td>
    </tr>
    <tr>
      <td>manager</td>
      <td>123</td>
      <td>manager</td>
    </tr>
    <tr>
      <td>admin</td>
      <td>123</td>
      <td>admin</td>
    </tr>
  </tbody>
</table>
