<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h2 class="page-title">Products</h2>
    </div>
  </div>
</div>
<!-- end page title -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="col">
                <form>
                  <div class="mb-3">
                    <input
                      type="text"
                      id="tag"
                      name="tag"
                      class="form-control"
                      placeholder="Type tag to search"
                      [(ngModel)]="filter.tag"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="form-control"
                      placeholder="Type name of product to search"
                      [(ngModel)]="filter.name"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      type="date"
                      id="date"
                      name="addedDate"
                      class="form-control"
                      placeholder="Type date of product to search"
                      [(ngModel)]="filter.addedDate"
                    />
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      type="button"
                      (click)="this.getProducts()"
                      class="btn btn-sm btn-primary"
                    >
                      Search
                    </button>
                  </div>
                </form>
              </div>
            </form>
          </div>
        </div>

        <div class="pt-5">
          <table
            class="table table-colored-bordered table-bordered-info table-striped table-bordered dt-responsive nowrap w-100"
          >
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Category</th>
                <th>Tags</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!this.products.length">
                <th colspan="100" scope="row">there is no data to display.</th>
              </tr>

              <tr *ngFor="let item of this.products">
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ flatProductTags(item) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
